@media all and (max-width: 1000px) {
  .lesson {
    width:50%;
    margin-bottom:50px;
    background-color:blue;
  }

}

@media all and (max-width: 670px) {
  .lesson {
    width:100%;
    background-color:red;
  }

}

  

  
  .menu-icon {
    display:  block;
  }
 
}